body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;  /* Light background for the app */
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}
